services:
  web:
    image: nth786/pokemon-web:latest
    ports:
      - "8080:80"
    restart: always

  server:
    container_name: server-prod
    image: nth786/pokemon-server:latest
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env
    environment:
      - NODE_ENV=production
    depends_on:
      db:
        condition: service_healthy
    restart: always

  db:
    container_name: db-prod
    image: postgres:16
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-db}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
