services:
  web:
    container_name: web
    build:
      context: .
      target: development
    ports:
      - "5173:5173"
    env_file:
      - .env
    environment:
      - VITE_API_URL=${VITE_API_URL}
    depends_on:
      - db
    restart: always
    volumes:
      - .:/app
      - /app/node_modules

  server:
    container_name: server
    build:
      context: ./server/
      target: development
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env
    depends_on:
      db:
        condition: service_healthy
    restart: always
    volumes:
      - ./server:/app
      - /app/node_modules

  db:
    container_name: db
    image: postgres:16
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-db}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
