* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  background-color: #9ea1cc;
  color: #333;
  min-height: 100vh;
}

nav {
  margin-top: 5px;
  background-color: #fecc02;
  padding: 1rem;
  border-radius: 25px;
  border-style: solid;
  border-color: #3063af;
  border-width: thick;
  display: inline-block;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}


nav a {
  color: #fff;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border-style: solid;
  border-color: #3063af;
  border-width: thick;
  text-decoration: none;
  color:black;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #3063af;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

nav a.active {
  background-color: #3063af;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  color: #fecc02;
}