* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  background-color: #9ea1cc;
  color: #333;
  min-height: 100vh;
}

nav {
  margin-top: 5px;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 25px;
  display: inline-block;
  justify-content: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 2);
}


nav a {
  color: #fff;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  text-decoration: none;
  color:black;
  transition: background-color 0.3s ease;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

nav a:hover {
  background-color: #bb4430;
}

nav a.active {
  background-color: #bb4430;
}